<h1>Login</h1>
<%= form_for :login do |f| %>
  <div>
    <%= f.label :cpf %>
    <%= f.text_field :cpf, autofocus: true %>
  </div>
  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.submit "Login" %>
  </div>
<% end %>