<h1>Entrar</h1>
<%= form_for :login do |f| %>
  <div>
    <%= f.label :'CPF:' %>
    <%= f.text_field :cpf, autofocus: true %>
  </div>
  <div>
    <%= f.label :'Senha:' %>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.submit "Login" %>
  </div>
<% end %>