<h1>Mostrar usuários</h1>

<table border='2px' style='width': 50%>
	<tr>
		<td>Nome</td>
		<td>CPF</td>
		<td>Matrícula</td>
		<td>Turma</td>
		<td>Endereço</td>
	</tr>

<tr>
		<td><%=@user.name%></td>
		<td><%=@user.cpf%></td>
		<td><%=@user.register%></td>
		<td><%=@user.class_code%></td>
		<td><%=@user.address%></td>

</tr>
</table>