<h1> Cadastro de Livros </h1>
<%= form_for @book, url:books_create_path do |f| %>
	<%= f.label :title, 'Nome do Livro:' %>
	<%= f.text_field :title %><br>
	<%= f.label :author, 'Autor:' %>
	<%= f.text_field :author %><br>
	<%= f.label :publishing_company, 'Editora:' %>
	<%= f.text_field :publishing_company %><br>
	<%= f.label :year, 'Ano:' %>
	<%= f.text_field :year %><br>
	<%= f.label :category, 'Categoria:' %>
	<%= f.text_field :category %><br><br>
	<%= f.label :source_of_donation, 'Origem da Doação:' %>
	<%= f.text_field :source_of_donation %><br>
	<%= f.label :amount, 'Quantidade:' %>
	<%= f.text_field :amount %><br>

	<%= f.submit 'Salvar' %>
<% end %>
