<div class="card text-center">
  <div class="card-header">
  <h1> Mostrar Livros </h1>
  </div>
	<div class="card-body">
  	<div class="border mb-3">

  	</div>
  </div>


<table border='2px' style='width': 50%>
	<tr>
		<td>Nome do Livro</td>
		<td>Autor</td>
		<td>Editora</td>
		<td>Ano</td>
		<td>Categoria</td>
		<td>Origem da Doação</td>
		<td>Quantidade</td>
		<td>Código de Barras</td>
	</tr>

<tr>
		<td><%= @book.title %></td>
		<td><%= @book.author %></td>
		<td><%= @book.publishing_company %></td>
		<td><%= @book.year %></td>
		<td><%= @book.category %></td>
		<td><%= @book.source_of_donation %></td>
		<td><%= @book.amount %></td>
		<td><%= raw @barcode_for_html.to_html %>
				<br>
				Código: <%= @book.bar_code %> </td>

</tr>
</table>
<br>
<br>
