<!DOCTYPE html>
<html>
  <head>
    <title>LibraryApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if current_user %>
      <!-- current_user will return true if a user is logged in -->
      <%= "Logged in as #{current_user.cpf}" %> | <%= link_to 'Home', root_path %> | <%= link_to 'Log Out', sessions_destroy_path, method: :delete %> | <%= link_to 'Edit', users_edit_path(current_user.id) %>
      <% if current_user.level == 0 %>
      <h2> Você é um administrador </h2>
      <% end %>
    <% else %>
      <!-- not logged in -->
      <%= link_to 'Log In', sessions_create_path %> or <%= link_to 'Sign Up', users_new_path %> 
    <% end %>
    <hr>

    <% if notice %>
            <%= notice %>
    <% end %>
  
    <% if alert %>
            <%= alert %>
    <% end %>
    
    <%= yield %>


  </body>
</html>
